@charset "UTF-8";

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 769px) {
    section#login {
        width: 80vw;
        max-width: 950px;
        height: 360px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: right top;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}