@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Typical Device Breakpoints
---------------------------
Celular: de 320px até 600px
Tablet: 601px até 768px
Desktop: 769px até 1200px
TV: acima de 1200px

    Outras cores:
    #8bf8ed;
    #005756;
*/

:root {
    --cor0: #05f2db;
    --cor1: #007A78;
    --cor2: #1e3888;
    --cor3: #929487;
    --cor4: #FFC745;
    --cor5: #0d0d0d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-h2: "Playfair Display", serif;
    --fonte-destaque: 'Bebas Neue', sans-serif, cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

body {
    background-image: linear-gradient(45deg, #007A78, whitesmoke);
}

header {
    min-height: 70px;
    text-align: center;
    padding-top: 40px;
}

header img {
    width: 300px;
}

nav {
    color: var(--cor2);
    padding: 10px;
    text-align: center;
}

nav > a {
    color: var(--cor2);
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    margin: 3px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
}

input {
    margin-top: 12px;
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 5px;
}

input:hover {
    background-color: #8bf8ed;
}

main {
    background-color: whitesmoke;
    min-width: 320px;
    max-width: 530px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    padding: 15px;
}

main strong {
    color: var(--cor0);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
}

main a img {
    margin: 15px;
    max-width: 285px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
}

main a:hover {
    color: var(--cor3);
}

.container {
    display: flex;
    flex-wrap: wrap; 
}

.div1, .div2, .div3, .div4, .div5, .div6 {
    width: 100%;
    margin: 20px;
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

div img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

section {
    text-align: center;
    padding: 25px;
}

section a.emoji {
    width: 50px;
    font-size: 2.5em;
    margin: 9px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section a.emoji:hover {
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.25s;
}

h1 {
    font-family: var(--fonte-h2);
    color: var(--cor0);
    font-weight: normal;
    font-size: 2em;
    text-align: center;
    background-color: var(--cor2);
    margin-bottom: 15px;
    border-radius: 10px 10px 0px 0px;
}

h2 {
    background-image: linear-gradient(90deg, #1e3888, whitesmoke);
    font-family: var(--fonte-h2);
    color: var(--cor0);
    text-indent: 20px;
    font-weight: normal;
    font-size: 1.5em;
    margin: 30px 0px 10px 0px;
}

h3 {
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
    color: var(--cor4);
    margin: 20px 15px 10px 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

h3:hover {
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.25s;
    border-radius: 5px;
}

h4 {
    background-color: var(--cor3);
    font-family: var(--fonte-h2);
    color: whitesmoke;
    font-size: 1.2em;
    padding: 10px;
}

footer {
    background-color: var(--cor5);
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    font-weight: bold;
}

footer a {
    color: var(--cor4);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
}